body {
    background: url(https://st2.depositphotos.com/2430115/11217/i/950/depositphotos_112175240-stock-photo-supermarket-with-blurred-bokeh-background.jpg);
    background-size: cover;
}
#wrapper{
    display: flex;
    flex-direction: row;
}
#table{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 20%;
    height: 450px;
    background: url(https://t3.ftcdn.net/jpg/02/07/72/50/500_F_207725028_h5WfLfLGxLBC1ZTAERDri5GUdZ0qJD7q.jpg);
    background-size: contain;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 50px auto;
    box-shadow: 0px 0px 4px 0px #000000;
}
#display{
    display: flex;
    height: 41%;
    width: 88%;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    font-size: 1.1em;
}
.displayInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(202, 18, 18);
    border: 1px solid #333;
    width: 100%;
    height: 33%;
    text-indent: .5em;
}
#select-box{
    height: 6%;
    width: 121%;
    text-indent: 2.5em;
    cursor:pointer;
}
#button{
    box-shadow: 0px 0px 2px 0px #20cabc;
    cursor:pointer;
}    
.my-input, #button{
    height: 6%;
    width: 100%;
    font: 1.2em Tahoma;
    text-align: center;
}

option[selected]{
    color: rgb(177, 169, 169);
}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
span {
    font-size: 1.6em;
    text-shadow: 5px 1px 4px rgb(255, 255, 255);
}

@media screen and (max-width: 440px) {
    #table{
        margin-top: 60px;
        width: 70%;
        height: 500px;
    }
}